<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>OAuth Endpoints</title>
      <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
   </head>
   <body>
		<div class="col-12 col-md-12 col-xl-12 py-md-12 pl-md-12 bd-content">
   		<table class="table table-bordered">
			<thead class="thead-dark">
				<th scope="col">Endpoint</th>
				<th scope="col">URL</th>
			</thead>
			<tbody>
				<tr>
					<td>API</td>
					<td>https://analogocean:8888/api</td>
				</tr>
				<tr>
					<td>OAuth2.0 authorization</td>
					<td>https://analogocean:8888/oauth/authorize</td>
				</tr>
				<tr>
					<td>OAuth2.0 revocation</td>
					<td>https://analogocean:8888/oauth/revoke</td>
				</tr>
				<tr>
					<td>OAuth2.0 token</td>
					<td>https://analogocean:8888/oauth/token</td>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
</html>